@import "~@fortawesome/fontawesome-free/css/all.min.css";

.logo-image { /* Auto Logo (oben links) */
  height: 50px;
  margin-top: 5px;
}

.custom-divider { /* Trennstrich zwischen Logo/Dropdown-Icon und  langem Bild */
  color: black;
  width: 80%; 
  height: 2px;
  background-color: #ddd; 
}

.mx-auto { 
  margin-left: auto !important;
  margin-right: auto !important;
}

.bars-icon-div .fas.fa-bars {
  font-size: 1.5rem; 
}

.big-image { /* Grösse für das Grosse lange Bild anpassen */
  width: 80%;
}

.picture-grid { /* Formatierung für den Grid */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  background-color: #90b8df; 
  padding: 10px;
  border-radius: 5px;
}

.brand-image {
  width: 100px;
  height: 100px;
  border: 2px solid #ccc; 
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
}

.brand-image.selected {
  border-color: #007bff; 
}

.title-questions { /* Titel zu den Fragen */
  font-size: 1.5rem; 
  font-weight: bold; 
  color: #333; 
  display: block;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.offer-container { /* Container der Angebote im 4ten Schritt */
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.offer {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.offer h5 {
  margin-bottom: 15px;
}

.offer p {
  flex-grow: 1;
}

.offer button {
  margin-top: 10px;
}

