@import "~@fortawesome/fontawesome-free/css/all.min.css";

.logo-image { /* Auto Logo (oben links) */
  height: 50px;
  margin-top: 5px;
}

.custom-divider { /* Trennstrich zwischen Logo/Dropdown-Icon und  langem Bild */
  color: black;
  width: 80%; 
  height: 2px;
  background-color: #ddd; 
}

.mx-auto { 
  margin-left: auto !important;
  margin-right: auto !important;
}

.bars-icon-div .fas.fa-bars {
  font-size: 1.5rem; /* Adjust the size as needed */
}

.big-image { /* Grösse für das Grosse lange Bild anpassen */
  width: 80%;
}

.progress-bar { /* Progress-bar, die anzeigt bei welchem Schritt man gerade ist */
  width: 80%;
  margin-top: 1.5rem;
}

.picture-grid { /* Formatierung für den Grid */
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
}

.picture-grid img {
  width: 100px;
  height: 100px;
}
