@import "~@fortawesome/fontawesome-free/css/all.min.css";

.logo-image { /* Auto Logo (oben links) */
  height: 50px;
  margin-top: 5px;
}

.custom-divider { /* Trennstrich zwischen Logo/Dropdown-Icon und  langem Bild */
  color: black;
  width: 80%; 
  height: 2px;
  background-color: #ddd; 
}

.mx-auto { 
  margin-left: auto !important;
  margin-right: auto !important;
}

.bars-icon-div .fas.fa-bars {
  font-size: 1.5rem; /* Adjust the size as needed */
}

.big-image { /* Grösse für das Grosse lange Bild anpassen */
  width: 80%;
}

.progress-bar { /* Progress-bar, die anzeigt bei welchem Schritt man gerade ist */
  width: 80%;
  margin-top: 1.5rem;
}

.picture-grid { /* Formatierung für den Grid */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  background-color: #90b8df; 
  padding: 10px;
  border-radius: 5px;
}

.brand-image {
  width: 100px;
  height: 100px;
  border: 2px solid #ccc; 
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
}

.brand-image.selected {
  border-color: #007bff; 
}

.title-questions { /* Titel zu den Fragen */
  font-size: 1.5rem; 
  font-weight: bold; 
  color: #333; 
  display: block;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}